html, body{
    min-height: 100%;
    height: 100%;
  }
  
  .fill{
    height: calc(100vh - 100px);
  }
  
  body {
    padding-top: 60px; /* space for the top nav bar */
    margin-right: 30px;
  }
  
  #appBuckets {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
  }
  
  #forgeViewer {
    width: 100%;
  }
  
  #dashboard{
    overflow: auto;
    height: calc(100vh - 100px);
  }
  
  .transition-width {
    transition: width 1s ease-in-out;
  }
  
  .dashboardPanel {
    width: 100%;
    padding: 3%;
    display: block;
  }
  

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
}

div.foldertree {
    overflow: auto;
    height: 500px;
}

img.gray {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img.gray:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
#loginGoogle{font-size: 1.7em;padding: 7px;}